<%- include('header') -%> <%- include('navbar') -%>
<!-- home content -->
<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
  style="width: 100%; height: 92vh; background-image: cover; overflow: hidden"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://www.teahub.io/photos/full/18-188243_business-wallpaper-group-data-src-full-656727-consulting.jpg"
        class="d-block w-100"
        alt="img1"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://lh3.googleusercontent.com/proxy/6161GmPWWbbqun22ySFmU401YIzvRMbUzRCRQvIi7upy_5mroEcZ9NmNMXQQEVJ-DxgBDmITR8nWGr7Pkr9W1IQjSejFv5XzPUPljQXvPbXNLWw1"
        class="d-block w-100"
        alt="img2"
      />
    </div>
  </div>
</div>
<%- include('footer') -%>
