<%- include('header') -%> <%- include('navbar') -%>

<!-- content -->
<section style="width: 70%; margin: 30px auto">
  <div class="card" style="width: 18rem">
    <div class="card-header">services</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">sales</li>
      <li class="list-group-item">consulting</li>
      <li class="list-group-item">costumer service</li>
    </ul>
  </div>
</section>
<%- include('footer') -%>
